{% extends 'base.html' %}

{% block page_content %}
<div class="container mt-5">
    <h2>Lista de Objetos</h2>

    <table class="table table-bordered table-dark mt-3">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Campo 1</th>
            <th scope="col">Campo 2</th>
        </tr>
        </thead>
        <tbody>
        {% for objeto in objetos %}
            <tr>
                <th scope="row">{{ objeto.id }}</th>
                <td>{{ objeto.campo1 }}</td>
                <td>{{ objeto.campo2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
