{% extends 'base.html' %}

{% block page_content %}
<!-- Formulário para adicionar novos objetos -->
<form method="post" class="mt-3">
    {% csrf_token %}
    <div class="mb-3">
        <label for="campo1" class="form-label">Campo 1:</label>
        <input type="text" class="form-control" id="campo1" name="campo1" required>
    </div>
    <div class="mb-3">
        <label for="campo2" class="form-label">Campo 2:</label>
        <input type="text" class="form-control" id="campo2" name="campo2" required>
    </div>
    <!-- Adicione mais campos conforme necessário -->
    <button type="submit" class="btn btn-primary">Adicionar Objeto</button>
</form>
{% endblock %}
